#cuserpanel-content {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#cuserpanel-row {
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
}