#duegev-text-editor {
    position: absolute;
    width: 90%;
    /*height: 80%;*/
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 20px;
    max-height: 80%;
    overflow-x: hidden;
    overflow-y: auto;
}

#duegev-te-cc-wrapper {
    width: 100%;
}

#editor-stepper-card-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#text-editor-content-wrapper{
    padding: 8px;
}

#metadata-editor-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#duegev-te-title-field {
    width: 100%;
}

#text-editor-stepper-handlers {
    display: block;
    position: relative;
    justify-self: flex-end;
}

#duegev-article-auth-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

#duegev-article-auth-info .field {
    width: 100%;
}

#duegev-md-editor-wrapper {
    width: 100%;
}

#duegev-md-preview {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #121212;
    padding: 20px;
    max-height: 50%;
    display: flex;
    justify-content: center;
}

#duegev-label-selector-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}