#tag-manager-wrapper {
    width: 90%;
}

#search-result-table-wrapper {
    max-height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
}

.label-action-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

#label-deletion-confirm {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-content: center;
}