#privileges-page-wrapper {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    align-items: center;
    margin-bottom: 15px;
}